html
    head
        title='Interview Assistant Login'
        base(href='/' + adapterId + '/')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(name='charset' content='UTF-8')
        link(href='styles.css' rel='stylesheet')
        link(rel='apple-touch-icon' sizes='180x180' href='assets/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='assets//favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='assets//favicon-16x16.png')
        link(rel='manifest' href='assets//site.webmanifest')
    body
        p='Mock Page For Login From Interview Platform'
        a(href=redirectUrl) OMG #{redirectUrl}
